/* Styles for the description block */

#descriptionBlock {
  margin: 0 3% 25px 3%;
}

#descriptionHeading {
  color: #818181;
  margin: 20px 3% 5px 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  word-spacing: 8px;
  text-transform: uppercase;
}

#descriptionContainer {
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 40px;
}

.heading {
  color: #818181;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 200px;
}

.text {
  color: #e1e1e1;
  text-align: justify;
  padding: 0 40px;
  width: 60%;
  border-left: 2px solid #ae6bff;
  text-align: justify;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

#definitionContainer .text,
#complexityContainer .text {
  width: 85%;
}

#definitionContainer,
#algoPseudoContainer,
#complexityContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

#algorithmContainer,
#pseudoCodeContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
}
